@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
.App {
  text-align: center;
}

body{
  display: flex;
  flex-direction: column;
}

footer{
  margin-top:aut
}
  